body {
    font-family: "montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 430;
    padding: 0px auto;
    margin: 0px auto;
}

/* Nav CSS */
nav {
    /* Designing Navbar */
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    box-shadow: 0px 1px #ccc;
    background-color: white;
    height: 70px;

    /* Static Navbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav a {
    color: black;
    text-decoration: none;
}

.nav-items {
    padding-top: 25px;
}

.nav-items:hover {
    background-color: #ccc;
}

.logo-img {
    margin-left: 40px;
    width: 70px;
}

#nav-blog {
    border-bottom: 3px solid black;
}


/* Content CSS */
header {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
}

.container {
    max-width: 1600px;
    margin: 10px auto;
    padding: 40px;
    font-size: 14px;
}


.container p {
    color: grey;
}

.container a {
    color: rgba(34, 34, 34, 0.849);
}

h1, h2 {
    color: rgba(34, 34, 34, 0.849);
    font-weight: 550;
}

.content {
    display: flex;
}

.content img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.content p {
    width: 50%;
    height: 50%;
    padding-right: 100px;
}

footer {
    font-family: "Railway", sans-serif;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 80px;
    text-align: center;
    font-size: 9px;
}

footer a {
    color: red;
}