body {
    background-color: #fff;
    font-family: "montserrat", sans-serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
    font-weight: 430;
    margin: 0px auto;
}

/* Nav CSS */
nav {
    /* Designing Navbar */
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    box-shadow: 0px 1px #ccc;
    background-color: white;
    height: 70px;

    /* Static Navbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav a {
    color: black;
    text-decoration: none;
}

.nav-items {
    padding-top: 25px;
}

.nav-items:hover {
    background-color: #ccc;
}

.logo-img {
    margin-left: 40px;
    width: 70px;
}

#nav-login {
    background-color: #cccccc86;
}

#nav-login:hover {
    background-color: #ccc;
}

/* Content CSS */
.container {
    display: flex;
    height: 100vh;
}

.body-image-container {
    border-top: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
}

.body-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-logo {
    text-align: center;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
}

.login-elem-container {
    display: block;
    padding: 3%;
    padding-top: 10%;
    padding-bottom: 0px;
}

.login-elem-container h3 {
    font-weight: 500;
}

.input-field-container {
    margin-bottom: 12px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 320px;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

input::placeholder {
    color: black;
}

button {
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    font-size: 14px;
}

button:hover {
    opacity: 0.8;
}

.forgot-password-p {
    font-size: 14px;
    margin-bottom: 25px;
}

.forgot-password-p a {
    color: black;
    text-decoration: none;
}

.signup-p {
    font-size: 14px;
    margin-top: 35px;
}

.signup-p a {
    color: #2691D9;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}